body{
	background-color: rgb(221,208,208);
}
.container{
	width:380px;
	height:500px;
	background-color:#fff;
	text-align: center;
	margin-left:33%;
}
.input{
	display:flex;
	margin-left:22px;
}
.uname{
	width:130px;
	height:26px;
	margin-top:22px;
}


.input .inpt{
	width:300px;
	height:26px;
	margin-top:22px;
}
.input i{
	padding:6px;
	border:1px solid gray;
	height:18px;
	margin-top:22px;
	border-right:none;
}
.gender{
	margin-top:22px;
	font-size:24px;
	margin-right:142px;
}
.btn{
	width:336px;
	height:33px;
	border:none;
	color:white;
	background-color:rgb(255,187,0); 
	font-size:18px;
	margin-top:22px;
}
.btn:hover{
	background-color: transparent;
	color:rgb(255,187,0);
	border:2px solid rgb(255,187,0);
	border-radius:3px;
	cursor:pointer;
}
.container h1{
	font-size: 33px;
	padding:17px;
	font-family: 'Roboto Condensed', sans-serif;
}
